* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  height: 100vh;
  height: 100vh;
  background-color: #282d35;
}

nav > h3,
nav > h4 {
  margin: 0;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

nav > h3 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 600;
}

nav > h4 {
  color: #deebf8;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 3.5rem;
}

main > h1 {
  margin: 0;
  font-size: 39px;
}

main > ul > li {
  line-height: 25px;
  padding-block: 10px;
}

main > ul > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
